body
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* menú */


header {
    background: #1e1e1e;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background: #333;
    padding: 10px;
    text-align: center;
}

    nav a {
        color: white;
        margin: 15px;
        text-decoration: none;
        font-weight: bold;
    }

        nav a:hover {
            color: #00bfff;
        }

/* sección principal */

.hero{
    padding:150px;
    text-align:center;
    background-image:url("https://images.unsplash.com/photo-1500382017468-9049fed747ef");
    background-size:cover;
    background-position:center;
    color:white;
}

    .hero h1 {
        font-size: 40px;
    }

    .hero button {
        padding: 12px 25px;
        font-size: 16px;
        background: #00bfff;
        border: none;
        color: white;
        cursor: pointer;
    }

/* carrusel de imágenes */

.slider {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.6s ease;
}

    .slides img {
        width: 100%;
        flex-shrink: 0;
        height: 400px;
        object-fit: cover;
    }

/* botones flechas */

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
}

    .prev:hover, .next:hover {
        background: #00bfff;
    }

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* servicios */

.servicios {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;
}

/* footer */

footer {
    background: #1e1e1e;
    color: white;
    text-align: center;
    padding: 20px;
}
